@font-face {
    font-family: "Lato";
    font-weight: 900;
    font-style: normal;
    src: local("Lato Black"),
        url("../fonts/Lato-Black.eot") format("eot"),
        url("../fonts/Lato-Black.woff") format("woff"),
        url("../fonts/Lato-Black.woff2") format("woff2");
    display: swap;
}


@font-face {
    font-family: "Lato";
    font-weight: 700;
    font-style: normal;
    src: local("Lato"),
        url("../fonts/Lato-Bold.eot") format("eot"),
        url("../fonts/Lato-Bold.woff") format("woff"),
        url("../fonts/Lato-Bold.woff2") format("woff2");
    display: swap;
}



@font-face {
    font-weight: 400;
    font-style: normal;
    font-family: "Lato";
    src: local("Lato"),
        url("../fonts/Lato-Regular.eot") format("eot"),
        url("../fonts/Lato-Regular.woff") format("woff"),
        url("../fonts/Lato-Regular.woff2") format("woff2");
    display: swap;
}