html {
    font-family: "Lato", sans-serif;
    scroll-behavior: smooth;
    list-style-type: none;
    overflow-x: hidden;
}

.wrapper {
    min-height: 100%;
    width: 100%;
    overflow: hidden;
}

.burger {
    display: none;
}

.container {
    max-width: 1260px;
    padding: 0 15px;
    margin: 0 auto;
    height: 100%;
}

.button {
    font-size: 1em;
    font-weight: 700;
    color: #fff;
    height: 52px;
    background: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%);
    border-radius: 4px;
    width: 206px;
    transition: all 0.3s;
}

.button:hover {
    transform: scale(1.04);
}

footer {
    background-color: #1E212C;
    height: 396px;
}


/* -------------------------------------------------------------- */

.header_top {
    padding-top: 20px;
}

.background {
    width: 100%;
    height: 1080px;
    background: url("../images/decor/bg-decor.svg") 0 0 / 100% no-repeat, linear-gradient(55.95deg, rgba(255, 64, 58, 0.2) 0%, rgba(247, 94, 5, 0.2) 100%);
    z-index: -10;
}

.main_logo {
    background-repeat: no-repeat;
    margin-right: 60px;
}

.header_nav {
    align-items: center;
    display: flex;
    margin-right: auto;
}

.header_nav_list {
    margin-right: 40px;
    transition: 0.3s;
}

.header_nav_list:hover {
    color: #FF3F3A;
}

.header_nav_list:last-child {
    margin-right: 0px;
}

.header_top_inner {
    display: flex;
    font-weight: 700;
    align-items: center;
    line-height: 1.6;
    white-space: nowrap;
}

.btn_box_nav {
    display: flex;
    align-items: center;
    position: relative;
}

.log_in::before {
    content: "";
    background: url("../images/icons/user-icon.svg") no-repeat;
    width: 20px;
    height: 20px;
    display: inline-block;
    position: absolute;
    padding-left: 28px;
    align-items: center;
    top: 50%;
    transform: translateY(-50%);

}

.button_nav_top {
    margin-right: 36px;
}

.log_btn {
    padding-left: 28px;
    transition: 0.3s;
}

.log_btn:hover {
    color: #FF3F3A;
}

.reg_btn {
    transition: 0.3s;
}

.reg_btn:hover {
    color: #FF3F3A;
}

/* ------------------------------------------- */

.hero_play {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

.play_icon_img {
    border-radius: 50%;
    transition: 0.3s;
}

.play_icon_img:hover {
    box-shadow: 0 0 0 16px rgba(255, 63, 58, 0.12);
}

.hero_text {
    display: inline-block;
    font-weight: 900;
    font-size: 4rem;
    line-height: 1.3;

}

.hero_play_text {
    margin: 16px;

}

.header_hero_img {
    margin-left: 15px;
}

.header_hero_section {
    display: flex;
    justify-content: space-between;
    margin-top: 156px;
    white-space: nowrap;
}

.hero_btns {
    margin-top: 57px;
}

.button_light {
    height: 52px;
    width: 148px;
    margin-right: 24px;
    font-size: 1em;
    font-weight: 700;
    height: 52px;
    color: #F75E05;
    background: rgba(255, 255, 255, 0);
    box-shadow: 0 0 0 1px inset;
    border-radius: 4px;
    transition: 0.3s;
    margin-bottom: 160px;
}

.button_light:hover {
    transform: scale(1.04);
    box-shadow: 0 0 0 2px inset;
}

.btn_light_text {
    color: transparent;
    -webkit-background-clip: text;
    background-image: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%);
}

.header_row_list {
    display: flex;
    justify-content: space-between;
}

.header_row_items {
    display: flex;
    font-weight: 900;
    font-size: 2.875rem;
    line-height: 1.3;
    align-items: center;

}

.header_row_text {
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.6;
    margin-left: 12px;
}

.header_row_dot {
    width: 8px;
    height: 8px;
    background-color: #FF3F3A;
    border-radius: 50%;
    transform: translateY(25px);
}

/* ------------------------------------------------------- */
.about_main_section {
    display: flex;
    justify-content: space-between;
}

.about_main_text {
    padding-top: 178px;
    padding-left: 8px;
}

.about_header {
    font-weight: 700;
    line-height: 1.5;
    padding-bottom: 8px;
}

.about_header_two {
    font-weight: 900;
    font-size: 2.875rem;
    line-height: 130%;
    margin-bottom: 48px;
}

.about_header_three {
    font-weight: 700;
    font-size: 1.125rem;
    line-height: 150%;
    margin-bottom: 30px;
}

.about_text {
    font-weight: 400;
    line-height: 160%;
}

.about_main_img {
    margin-top: 215px;
}

.ex_btn {
    width: 192px;
    margin-bottom: 180px;
}

.about_btn_box {
    margin-top: 60px;
}

/* ------------------------------------------------------------------------------------- */
.about_two_img {
    margin-bottom: 161px;
    border-radius: 4px;
}

.about_two_main_section {
    display: flex;
    justify-content: space-between;
}

.about_two_colum {
    margin-top: 97px;
    transform: translateX(-15px);
}

.about_colum_items {
    font-weight: 900;
    font-size: 3rem;
    line-height: 130%;
    color: #FF3F3A;
    padding-bottom: 20px;
    display: flex;
    align-items: center;
}

.about_colum_text {
    font-weight: 700;
    font-size: 1.125rem;
    line-height: 150%;
    transform: translateX(15px);
    color: #1E212C;
}

/* ------------------------------- */
.directions {
    padding-bottom: 148px;
    background: url("../images/decor/directions_bg.svg") no-repeat;

}

.directions_inner {
    display: flex;
    align-items: center;
    font-family: "Lato", sans-serif;

}

.first_inner {
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    padding-bottom: 8px;
    text-align: center;
}

.second_iinner {
    font-weight: 900;
    font-size: 46px;
    line-height: 130%;
    text-align: center;
    margin-bottom: 90px;

}

.inner {
    margin: 0 auto;
}

.filter_btn-box {
    margin-bottom: 55px;
}

.filter-btn {
    font-weight: 700;
    font-size: 16px;
    line-height: 160%;
    border: 1px solid #9A9CA5;
    border-radius: 4px;
    color: transparent;
    -webkit-background-clip: text;
    background-color: #9A9CA5;
    padding: 0 8px;
    margin-right: 40px;
}

.filter-btn--active {
    color: #fff;
    background: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%);
    -webkit-background-clip: padding-box;
    border: none;
    padding: 1px 9px;
}

.directions_list_imes {
    display: grid;
    grid-template: repeat(2, auto) / repeat(3, 1fr);
    gap: 30px;
}


.directions_list_link {
    border: 1px solid #E5E8ED;
    height: 420px;
    border-radius: 4px;
    position: relative;
    transition: box-shadow 1s;
}

.directions_list_link--empty {
    height: 420px;
    background: #F4F5F6;
    border-radius: 4px;
    text-align: center;
    padding-top: 164px;
    font-weight: 700;
    font-size: 20px;
    line-height: 150%;
    color: #424551;
}

.directions_link_content {
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    color: #787A80;
    margin-left: 24px;
    margin-right: 24px;
}

.directions_list_link:hover {
    box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.08), 0px 30px 24px -10px rgba(154, 156, 165, 0.05), 0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 4px 4px -4px rgba(30, 33, 44, 0.03);
    transition: all 0.3s;
}

.directions_list_link:hover .directions_list_btn {
    color: #FF3F3A;
}

.directions_list_btn {
    margin-left: 24px;
    font-weight: 700;
    font-size: 16px;
    line-height: 160%;
    transition: 0.3s;
}

.directions_list_btn::before {
    content: "";
    position: absolute;
    background: url("/images/icons/arrow_right.svg") no-repeat;
    width: 18px;
    height: 11px;
    transform: translate(112px, 7px);
}

.directions_tag {
    font-weight: 700;
    font-size: 16px;
    line-height: 180%;
    padding: 0px 8px;
    border-radius: 4px;
    color: #fff;
    text-align: center;
    margin-top: 24px;
    margin-left: 24px;
    display: inline-block;
}

.directions_img-box {
    width: 100%;
}

.category-marketing .directions_tag {
    background: #03CEA4;
}

.category-management .directions_tag {
    background: #5A87FC;
}

.category-HR .directions_tag {
    background: #F89828;
}

.category-design .directions_tag {
    background: #F52F6E;
}

.category-development .directions_tag {
    background: #7772F1;
}

/* ----------------------------------------------- */
.certificate_content {
    display: flex;
    justify-content: space-between;

}

.certificate_info {
    object-fit: contain;
}

.certificate_inner {
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    padding-bottom: 8px;
}

.first_text {
    font-weight: 900;
    font-size: 46px;
    line-height: 130%;
    padding-bottom: 48px;
}

.second_text {
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    padding-bottom: 34px;
}

.logo_section_img {
    margin-right: 40px;
}

.certificate_img {
    object-fit: contain;
}

.logo_sectiion:last-child {
    margin-right: 0px;
}

/* ------------------------------------- */


.team {
    background: #F4F5F6 no-repeat;
    margin-top: -47px;
    z-index: 0;
    padding-bottom: 180px;
}

.team_main {
    display: flex;
    justify-content: space-between;
}

.team_first_inner {
    font-weight: 700;
    line-height: 150%;
    margin-bottom: 10px;
    padding-top: 166px;
}

.team_second_inner {
    font-weight: 900;
    font-size: 46px;
    line-height: 130%;
    margin-bottom: 60px;
}

.team_slider_btn-box {
    padding-top: 239px;

}

.team_slider_arrow {
    position: relative;
    line-height: 0;
    z-index: 1;
}

.team_slider_arrow:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    width: 48px;
    height: 48px;
    background: #FF3F3A;
    border-radius: 50%;
    z-index: -1;
    transition: 0.3s;
}

.team_slider_arrow:hover::before {
    transform: translate(-50%, -50%) scale(1);
}

.team_slider_prev path {
    transition: 0.3s;
}

.team_slider_prev:hover path {
    fill: #fff;
}

.team_slider_next {
    margin-left: 28px;
}

.team_slider_next path {
    transition: 0.3s;
}

.team_slider_next:hover path {
    fill: #fff;
}

.team_slide {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0 24px;
}

.team_slider .slick-list {
    margin: 0 -24px;
}

.team_slide_img-box {
    border-radius: 4px;
    position: relative;
}

.team_slide_img {
    border-radius: 4px;
    width: 100%;
}

.team_second_inner:hover .team_slide_img_links {
    transform: translateY(-50%);
}

.team_slide_img_links {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    position: absolute;
    top: 50%;
    bottom: 0;
    right: 0px;
    left: 0;
    background: linear-gradient(180deg, rgba(30, 33, 44, 0) 43.9%, rgba(30, 33, 44, 0.03) 55.21%, rgba(30, 33, 44, 0.33) 68.73%, rgba(30, 33, 44, 0.56) 76.17%, rgba(30, 33, 44, 0.768225) 83.75%, rgba(30, 33, 44, 0.92) 91.49%, #1E212C 100%);
    border-radius: 4px;
    padding-bottom: 19px;
    padding-right: 20px;
}

.fb {
    margin-right: 17px;

}

.fb path {
    transition: 0.3s;
}

.fb:hover path {
    fill: #fff;

}

.inst {
    margin-right: 13px;
    transform: translateY(1px);
}

.inst path {
    transition: 0.3s;
}

.inst:hover path {
    fill: #fff;

}

.li path {
    transition: 0.3s;

}

.li:hover path {
    fill: #fff;

}


.team_slide_user_name {
    margin-top: 16px;
    font-weight: 700;
    font-size: 20px;
    line-height: 150%;
}

.team_slide_user_position {
    margin-top: 4px;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    white-space: nowrap;
}

/* ================================================================ */
.testimonials {
    background: #F4F5F6 no-repeat;
    z-index: -10;
}

.testimonials_inner .second_iinner {
    margin-bottom: 0px;
}


.testimonials_slider {
    position: relative;
}

.testimonials_slide {
    background-color: #fff;
    max-width: 992px;
    height: 344px;
    margin: 60px 106px 45px 106px;
}

.testimonials_slide_content {
    padding: 64px 105px 64px 163px;

}

.testimonials_slide_text {
    margin-bottom: 24px;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    position: relative;
}

.testimonials_slide_text:before {
    content: '';
    width: 28px;
    height: 20px;
    position: absolute;
    top: 0;
    left: -58px;
    background: url(../images/testimonials_photo/testimonialsbracekts.svg) no-repeat;
}

.testimonials_slide_user {
    display: flex;
}

.testimonials_user_photo {
    border-radius: 50%;
}

.testimonials_user_info {
    display: inline-flex;
    flex-direction: column;
    margin-left: 20px;
    align-items: center;
    justify-content: center;
}

.testimonials_slide_user_name {
    font-weight: 700;
    font-size: 16px;
    line-height: 160%;
    margin-bottom: 4px;
}

.testimonials_slide_user_position {
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    margin-left: 7px;
}

.testimonials_slider_arrow {
    position: relative;
    line-height: 0;
    z-index: 1;
}

.testimonials_slider_arrow:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    width: 48px;
    height: 48px;
    background: #FF3F3A;
    border-radius: 50%;
    z-index: -1;
    transition: 0.3s;
}

.testimonials_slider_arrow:hover::before {
    transform: translate(-50%, -50%) scale(1);
}

.testimonials_arrow_prev path {
    transition: 0.3s;
}

.testimonials_arrow_prev:hover path {
    fill: #fff;
}


.testimonials_arrow_next path {
    transition: 0.3s;
}

.testimonials_arrow_next:hover path {
    fill: #fff;
}

.testimonials_arrow_prev {
    position: absolute;
    left: 4px;
    transform: translateY(226px);
}

.testimonials_arrow_next {
    position: absolute;
    right: 2px;
    transform: translateY(-223px);
}

.testimonials_dots .slick-dots {
    display: flex;
    justify-content: center;
    padding-bottom: 194px;
}


.testimonials_dots .slick-active button {
    background-color: rgba(66, 69, 81, 1);
}

.testimonials_dots button {
    font-size: 0px;
    width: 30px;
    height: 3px;
    background-color: rgba(179, 183, 188, 1);
    margin: 0 6px;
    border-radius: 3px;
}

/* ======================================= */
.jobs {
    background: #F4F5F6 no-repeat;
}

.jobs .first_inner {
    text-transform: uppercase;
    letter-spacing: 1px;
}

.jobs .second_iinner {
    margin-bottom: 60px;
}

.jobs_content {
    display: flex;
    justify-content: space-between;
}

.first_row {
    margin-bottom: 40px;
}

.second_row {
    padding-bottom: 172px;
}

.jobs_link {
    margin-right: 98px;
    transition: 0.3s;
    filter: grayscale(1);
}

.jobs_link--last {
    margin-right: 0px;
}

.jobs_link:hover {
    filter: grayscale(0);
}

/* ======================================================= */

.learn_inner .team_first_inner {
    text-transform: uppercase;
    padding-top: 115px;
    letter-spacing: 1px;
}

.learn_inner .team_second_inner {
    margin-bottom: 60px;
}


.submenuItems {
    display: none;

}

.accordeon {
    max-width: 600px;
}

.accordion-menu {
    margin-bottom: 186px;
}

.dropdownlink span {
    margin: 0 8px 0px 40px;
    color: #FF3F3A;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;

}

.dropdownlink {
    font-weight: 700;
    font-size: 20px;
    line-height: 150%;
    color: #1E212C;
    margin-bottom: 24px;
    cursor: pointer;
    position: relative;
}

.learn_accordeon_text {
    padding-left: 40px;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    color: #424551;
    margin: 0 0 24px 0;
}

.learn_content {
    display: flex;
    justify-content: space-between;
}

.learn_img {
    margin-top: -200px;
}

.dropdownlink:before,
.dropdownlink:after {
    content: '';
    width: 16px;
    height: 2px;
    background: #FF3F3A;
    position: absolute;
    left: 0px;
    top: 0px;
    margin-left: 13px;
    margin-top: 15px;
    transform: translate(-50%, -50%);
    border-radius: 2px;
}

.dropdownlink:after {
    transform: rotate(90deg);
    margin-left: 5px;
    margin-top: 14px;
    transition: 0.3s;
}

.dropdownlink--active.dropdownlink:after {
    transform: rotate(0deg);
}


/* ======================================== */

.blog_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.blog_first_inner {
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #1E212C;
    margin-bottom: 8px;
}

.blog_second_inner {
    font-weight: 900;
    font-size: 46px;
    line-height: 130%;
    color: #1E212C;
    margin-bottom: 60px;
}

.button:hover {
    transform: scale(1.04);
}

.blog_header .button {
    width: 159px;
    translate: 0 -10px;
}

.blog_content {
    display: grid;
    grid-template: repeat(1, auto) / repeat(3, 1fr);
    gap: 30px;
}

.blog_slide {
    display: flex;
    flex-direction: column;
    height: 507px;
}

.blog_slide_img {
    margin-bottom: 16px;
    position: relative;
    width: 100%;
}

.tag {
    padding: 1px 8px;
    display: flex;
    position: absolute;
    height: 23px;
    left: 12px;
    top: 12px;
    background: #FFFFFF;
    border-radius: 4px;
    align-items: center;
    justify-content: center;
    display: none;
}

.blog_teg_text {
    margin-left: 8px;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: #424551;
}

.blog_slide_info {
    display: flex;
    margin-bottom: 8px;
}

.blog_sldie_info_text {
    font-weight: 700;
    font-size: 14px;
    line-height: 150%;
    display: flex;
    align-items: center;
    color: #787A80;
    margin-right: 12px;
}

.blog_sldie_info_date {
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    display: flex;
    align-items: center;
    color: #787A80;
    margin-right: 12px;

}

.blog_ico_calendar {
    position: absolute;
    transform: translateX(12px);
}

.blog_sldie_info_date::before {
    content: '';
    width: 0px;
    height: 12px;
    border: 1px solid #787A80;
    margin-right: 36px;
}

.blog_sldie_info_time {
    position: relative;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    display: flex;
    align-items: center;
    color: #787A80;
}

.blog_ico_time {
    position: absolute;
    transform: translateX(12px);
}

.blog_sldie_info_time::before {
    content: '';
    width: 0px;
    height: 12px;
    border: 1px solid #787A80;
    margin-right: 36px;
}

.blog_slide_text_inner {
    font-weight: 700;
    font-size: 20px;
    line-height: 150%;
    color: #1E212C;
    margin-bottom: 8px;
}

.blog_slide_text {
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    color: #424551;
    margin-bottom: 16px;
}

.blog_slide_link {
    font-weight: 700;
    font-size: 16px;
    line-height: 160%;
    color: #1E212C;
    position: relative;
    cursor: pointer;
    transition: 0.3s;
}

.blog_slide_link:hover {
    color: #FF3F3A;
}

.blog_slide_link::before {
    content: "";
    position: absolute;
    background: url("./images/icons/arrow_right.svg") no-repeat;
    width: 18px;
    height: 11px;
    transform: translate(55px, 8px);
}

/* =============================================================== */
.contact_flex {
    display: flex;
    justify-content: space-between;
    margin-top: 213px;
}

.contact_first_inner {
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #1E212C;
    margin-bottom: 8px;
}

.contact_second_inner {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 900;
    font-size: 46px;
    line-height: 130%;
    color: #1E212C;
    margin-bottom: 40px;
}

.contact_info_talk {
    margin-left: 36px;
}

.contact_info_talk_name {

    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 150%;
    color: #787A80;
    position: relative;
}

.contact_info_talk_name_img {
    position: absolute;
    transform: translate(-36px, 3px);
}

.contact_info_talk_info {
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: #1E212C;
    margin-bottom: 24px;
}

.contact_info_cal {
    margin-left: 36px;
}

.contact_info_call_name {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 150%;
    color: #787A80;
    position: relative;
}

.contact_info_call_name_img {
    position: absolute;
    transform: translate(-30px);
}

.contact_info_call_info {
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: #1E212C;
    margin-bottom: 24px;
}

.contact_info_address {
    margin-left: 36px;
}

.contact_info_address_name {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 150%;
    color: #787A80;
}

.contact_info_address_name_img {
    position: absolute;
    transform: translate(-33px);
}

.contact_info_address_info {
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: #1E212C;
    margin-bottom: 48px;
}

.contact_links_inner {
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #1E212C;
}

.contact_info_link_row {
    margin-top: 24px;
    display: flex;
    width: 298px;
    justify-content: space-between;
    align-items: center;
    margin-left: 6px;
}

.contact_links_icons path {
    transition: 0.3s;
}

.contact_links_icons:hover path {
    fill: #9A9CA5;
}

.contact_map {
    transform: translateY(33px);
    margin-bottom: 210px;
    box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.08), 0px 30px 24px -10px rgba(154, 156, 165, 0.05), 0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 4px 4px -4px rgba(30, 33, 44, 0.03);
    border-radius: 4px;
    overflow: hidden;
}

/* ================================================================== */
.footer_top {
    display: flex;
    justify-content: space-between;
}


.footer_logo {
    margin-top: 81px;
    margin-bottom: 25px;
}

.footer_text {
    max-width: 295px;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    color: #FFFFFF;
    opacity: 0.6;
}

.footer_links .contact_info_link_row {
    max-width: 244px;
    margin-top: 38px;
}

.footer_links .contact_links_icons:hover path {
    fill: #F4F5F6;
}



.footer_site_link {
    margin-top: 8px;
    font-weight: 400;
    font-size: 14px;
    line-height: 160%;
    color: rgba(255, 255, 255, 0.6);
    display: block;
    transition: 0.3s;
}

.footer_site_link:hover {
    color: #FFFFFF;
}

.footer_site_link_first {
    margin-top: 12px;
}

.footer_site_link_flex {
    display: flex;
    align-items: center;
}

.foote_site_inner {
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-top: 80px;
}

.footer_inners {
    transform: translateX(-15px);
}

.footer_input {
    width: 286px;
    height: 36px;
    background: rgba(255, 255, 255, 0.12);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 4px;
    margin-top: 24px;
    caret-color: #FFFFFF;
    padding: 12px;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    color: #FFFFFF;
}

.footer_input::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    color: #FFFFFF;
    opacity: 0.6;
    padding: 9px 0 9px 0;
}

.footer_sign_up {
    max-width: 286px;
}

.footer_sing_up_text {
    font-weight: 400;
    font-size: 10px;
    line-height: 150%;
    color: #FFFFFF;
    margin-top: 12px;
}

.footer_btn {
    background: url("../images/icons/Arrow_footer_btn.png") no-repeat;
    width: 16px;
    height: 16px;
    position: absolute;

    transform: translate(-170%, 210%);
}

.footer_bootom {
    width: 100%;
    height: 58px;
    background-color: rgba(255, 255, 255, 0.05);
    position: absolute;
    bottom: 0;
}

.footer {
    position: relative;
}

.footer_botom_cont {
    display: flex;
    justify-content: space-between;
}

.footer_rignhts {
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    color: #FFFFFF;
    margin-top: 20px;
}

.footer_rights_space {
    margin-right: 2px;
}

.footer_rights_img {
    margin: 0 4.41px;
}

.footer_link_top {
    margin-top: 20px;
    font-weight: 700;
    font-size: 14px;
    line-height: 150%;
    color: rgba(255, 255, 255, 0.6);
}


/* ===========================================media======================================== */
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {

    .burger_background {
        position: fixed;
        right: 0;
        width: 350px;
        height: 110vh;
        margin-top: -20px;
        background-color: #FFFFFF;
        z-index: 45;
        transform: translateX(350px);
        transition: 0.3s;
        display: flex;
    }

    .burger {
        display: flex;
        position: fixed;
        flex-direction: column;
        right: 15px;
        top: 15px;
        z-index: 50;

    }

    .burger span {
        width: 30px;
        height: 4px;
        border-radius: 3px;
        background-color: #1E212C;
        margin: 4px 0;
    }

    .burger::after,
    .burger::before {
        content: "";
        width: 30px;
        height: 4px;
        border-radius: 3px;
        background-color: #1E212C;

    }

    .header_top_inner {
        flex-direction: column;
        display: flex;
        margin: 0 auto;
    }

    .header_nav {
        flex-direction: column;
        margin: 40px auto;
        padding: 0;
        display: flex;

    }

    .btn_box_nav {
        flex-direction: column-reverse;
        margin: 0 auto;
    }

    .header_nav_list {
        margin: 20px auto;
    }

    .main_logo {
        margin: 0;
        margin-top: 50px;
    }

    .log_in::before {
        content: none;
    }

    .log_in {
        margin-left: -28px;
        margin-top: 30px;
    }

    .button_nav_top {
        margin: 0 auto;
        margin-top: 40px;
    }

    .burger_blackout {
        position: fixed;
        width: 100vw;
        height: 100vh;
        margin-top: -20px;
        margin-left: -20px;
        background-color: rgba(0, 0, 0, 0.596);
        z-index: -1;
        transition: 0.3s;
        opacity: 0;
    }

    .burger_blackout--active {
        z-index: 5;
        opacity: 1;
    }

    .burger--active {
        transform: translateX(0);
    }

    /* ---------------------------- */
    .header_hero_section {
        margin-top: 30px;
    }

    .header_hero_img {
        margin-top: 30px;
        height: 402px;
    }

    .background {
        height: 100vh;
    }

    .about_main_img {
        margin-top: 200px;
        width: 400px;
    }

    .about_two_img {
        width: 600px;
        margin-top: 100px;
    }

    /* -------------------------------------------------------------- */
    .directions_list_imes {
        gap: 15px;
    }

    /* -------------------------------------------------------------- */
    .certificate_img {
        width: 520px;
    }

    /* -------------------------------------------------------------- */
    .testimonials_slider_arrow {
        display: none;
    }

    .testimonials_slide {
        margin: 60px auto;
        max-width: 95vw;
        margin-left: 9px;
    }

    /* ------------------------------------------------------------- */
    .jobs {
        display: none;
    }

    /* ------------------ */
    .learn_img {
        display: none;
    }

    /* ----------------- */
    .blog_sldie_info_time {
        display: none;
    }

    .blog_content {
        gap: 15px;
    }

    .contact_map iframe {
        width: 530px;
    }
}

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {

    .header_hero_img {
        display: none;
    }

    .header_row {
        display: none;
    }

    .hero_btns {
        display: flex;
        flex-direction: column;
    }

    .button_light {
        margin-bottom: 15px;
    }

    /* ------------------------------------ */
    .about_main_img {
        display: none;
    }

    .about_btn_box {
        display: flex;
        flex-direction: column;
    }

    .about_two_img {
        width: 0px;
    }

    .about_two_main_section {
        justify-content: center;
        margin-top: 60px;
        margin-bottom: 80px;
    }

    /* ---------------------------------------- */
    .directions_list_imes {
        grid-template: repeat(3, auto) / repeat(2, 1fr);
        gap: 30px;
    }

    .filter-btn {
        margin-bottom: 15px;
    }

    /* --------------------------------------- */
    .certificate_img {
        display: none;
    }

    /* -------------------------------------- */

    .team {
        margin-top: 0;
    }

    /* ----------------------------------------- */
    .testimonials_slide_text {
        font-size: 16px;

    }

    /* ------------------------------------- */
    .blog_content {
        grid-template: repeat(2, auto) / repeat(2, 1fr);
        gap: 30px;
        row-gap: 80px;
    }

    .blog_slide_first {
        margin-bottom: 0;
    }

    /* ----------------------------------------- */

    .contact_map iframe {
        display: none;
    }

    .contact_links {
        margin-bottom: 210px;
    }

    /* ------------------------------------------- */
    .footer_wrapper {
        display: flex;
        flex-direction: column;
    }

    .footer_sign_up {
        display: none;
    }

    .background {
        height: 110vh;
    }
}

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
    .hero_text {
        font-size: 3rem;
    }

    /* -------------------------------------------- */
    .about_header_two {
        font-size: 2rem;
        margin-bottom: 15px;
    }

    .about_header_three {
        margin-bottom: 15px;
    }

    /* ------------------------------------------ */
    .directions_list_imes {
        grid-template: repeat(3, auto) / repeat(2, 1fr);
        gap: 30px;
    }

    /* ------------------------------------------ */
    .testimonials_slide_text::before {
        content: none;
    }

    .testimonials_slide_content {
        padding: 30px 30px 0 30px;
    }

    /* ----------------------------------------- */
    .dropdownlink {
        font-size: 16px;
        margin-left: -37px;
    }
    .dropdownlink span {
        font-size: 16px;
    }
    .dropdownlink::before{
        content: none;
    }
    .dropdownlink::after{
        content: none;
    }
    /* ------------------------------------------ */
    .blog_content {
        grid-template: repeat(3, auto) / repeat(1, 1fr);
        gap: 30px;
        row-gap: 80px;
    }
}

@media only screen and (max-width: 480px) {
    /* */
}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 440px) {
    .directions_list_imes {
        grid-template: repeat(6, auto) / repeat(1, 1fr);
        gap: 30px;
    }
}

/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {
    /* */
}
